@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
}

/*Variables for colors*/
:root{
    --color-background: #ffffff;
    --color-background2: #F2F2F2;
    --color-background-opacity: #ffffff4d;
    --color-primary: #166ED8;
    --color-primary2: #222224;
    --color-primary3: #E7E7E7;
    --color-text-button: #ffffff;
    --color-paragraph: #535353;
    --color-hover-primary: #1863be;
    --color-target: #e6e6e6;
    --color-inputs: #d6d6d6;
}

/* Variables for Sizes*/
:root{
    --title: 48px;
    --paragraph: 17px;
    --subtitleMin:20px;
    --text-button: 15px;
    --subtitle: 38px;
}

/* Variables for fonts */
:root{
    --fontTitle: 'Nunito', sans-serif;
}

.menu{
    width: 100%;
    height: 70px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary2);
}
.menu img{
    width: 40px;
    height: 40px;
}

/* Stated1 customization */
.stated1{
    background: url(./img/images/fondo/SIERRA\ NOTION.png) no-repeat 100%;
    background-position:  50% center;
}

.contentStated1{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stated1 h1{
    font-family: var(--fontTitle);
    font-size: var(--title);
    font-weight: 900;
    width: 500px;
    color: var(--color-background);
}
.stated1 p{
    width: 400px;
    font-size: var(--paragraph);
    margin: 50px 0px;
    font-family: var(--fontTitle);
    color: var(--color-background);
    font-weight: 300;
}
.button{
    width: 150px;
    height: 45px;
    background-color: var(--color-primary);
    color: var(--color-text-button);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button a{
    text-decoration: none;
    color: white;
    font-family: var(--fontTitle);
    font-size: var(--text-button);
}

.button:hover{
    background-color: var(--color-hover-primary);
}

/* Stated2  customization*/

.stated2{
    width: 100%;
    background-color: var(--color-primary3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px 0px;
}

.contentStated2{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.stated2 h2{
    font-family: var(--fontTitle);
    font-size: var(--subtitle);
    font-weight: 900;
    color: var(--color-primary2);
}


.text1, .text2, .text3{
    display: flex;
    width: 300px;
    margin: 70px 0px;
}

.texts p{
    margin-left: 20px;
    color: var(--color-paragraph);
    font-size: var(--paragraph);
    font-family: var(--fontTitle);
}
.texts span{
    font-size: 35px;
    color: var(--color-primary);
}

.imgGrid{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    grid-auto-columns: minmax(300px, auto);
    grid-auto-rows: minmax(300px, auto);
    row-gap: 10px;
    column-gap: 10px;
}

.img1{
    width: 300px;
    height: 300px;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1;
}

.img2{
    width: 300px;
    height: 290px;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 2/3;
}
.img3{
    width: 300px;
    height: 600px;
    object-fit: cover;
    grid-column: 2/3;
    grid-row: 1/3;
}

/* Stated3  customization*/
.stated3{
    width: 100%;
    height: 100vh;
    background-color: var(--color-background2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentStated3{
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
}

.why{
    display: flex;
    justify-content: space-between;
}

.why1, .why2, .why3, .why4{
    width: 280px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why div span{
    width: 80%;
    height: 60px;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

.contentWhyN{
    width: 200px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--fontTitle);
    cursor: default;
}

.why1:hover, .why2:hover, .why3:hover, .why4:hover{
    background-color: var(--color-background);
    border-radius: 0px 0px 10px 10px;
    box-shadow:
        0.3px 2.5px 3.6px rgba(0, 0, 0, 0.012),
        0.8px 6.9px 10px rgba(0, 0, 0, 0.018),
        1.8px 16.6px 24.1px rgba(0, 0, 0, 0.022),
        6px 55px 80px rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    transition: all 0.5s;
}

.barTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.barTitle h2{
    font-family: var(--fontTitle);
    font-size: var(--subtitle);
    font-weight: 900;
    color: var(--color-primary2);
}

.barTitle a{
    text-decoration: none;
    font-size: var(--paragraph);
    font-family: var(--fontTitle);
    font-weight: 700;
    color: var(--color-primary);
}

/* Stated4 customization*/

.stated4{
    background-color: var(--color-primary);
}

.contentStated4{
    padding: 90px 0px;
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    max-height: 600px;
}

.stated4 h2{
    font-family: var(--fontTitle);
    font-size: var(--subtitle);
    font-weight: 900;
    margin-bottom: 90px;
    color: var(--color-background);
}

.stated4 h1{
    font-family: var(--fontTitle);
    font-size: var(--title);
    font-weight: 900;
    color: var(--color-background2);
}


.row1Fq, .row2Fq{
    display: flex;
    justify-content: space-around;
}

.textFq1{
    margin-bottom: 50px;
}

.textFq{
    width: 300px;
}

.textFq h3{
    font-family: var(--paragraph);
    font-family: var(--fontTitle);
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--color-background);
    cursor: default;
}

.textFq p{
    font-family: var(--fontTitle);
    font-size: var(--paragraph);
    color: var(--color-background);
    cursor: default;
}

.textFq1, .textFq2, .textFq3{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textFq1:hover, .textFq2:hover, .textFq3:hover{
    background-color: var(--color-background-opacity);
    transition: all 0.5s;
}
/* Stated5 customization */

.stated5{
    padding: 40px 0px;
    box-sizing: content-box;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    background-color: var(--color-background2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.formDiv{
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 50%;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px 0px 0px 7px;
}

.form h3{
    font-family: var(--fontTitle);
    font-size: var(--subtitleMin);
    font-weight: 900;
    width: 250px;
    text-align: center;
    color: var(--color-primary2);
    margin-bottom: 20px;
}

.form p{
    width: 300px;
    text-align: center;
    margin: 10px 0px;
    font-family: var(--fontTitle);
    font-size: var(--paragraph);
    color: var(--color-paragraph);
}

.dataQuestion{
    width: 50%;
    height: 80vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 7px 7px 0px;
}

.stated5 h2{
    font-family: var(--fontTitle);
    font-size: var(--subtitle);
    font-weight: 900;
    margin-bottom: 50px;
    color: var(--color-primary2);
}


.inputs{
    width: 300px;
}


.inputs input[type="text"]{
    width: 300px;
    height: 40px;
    margin: 10px 0px;
    outline: none;
    border: none;
    background-color: var(--color-target);
    padding: 0px 10px;
    box-sizing: border-box;
    font-family: var(--fontTitle);
    font-size: var(--text-button);
    font-weight: 600;
    color: var(--color-primary2);
}

.according input{
    margin-right: 10px;
}

.inputs label{
    font-family: var(--fontTitle);
    font-size: var(--text-button);
    color: var(--color-paragraph);
}

#email:focus, #name:focus, #message:focus{
    box-sizing: border-box;
    outline: 2px solid var(--color-primary);
}


#message{
    width: 300px;
    height: 80px;
    resize: none;
    padding: 10px 10px;
    box-sizing: border-box;
    font-family: var(--fontTitle);
    font-size: var(--text-button);
    font-weight: 600;
    color: var(--color-primary2);
    border: none;
    background-color: var(--color-target);
}


.buttonForm{
    width: 100%;
    margin: 20px 0px;
    border: none;
    font-family: var(--fontTitle);
    font-weight: bold;
    cursor: pointer;
}

.dataQuestion h3{
    width: 200px;
    text-align: center;
    font-family: var(--fontTitle);
    font-size: var(--subtitleMin);
    font-weight: 900;
    color: var(--color-target);
}

.dataQuestion p{
    width: 400px;
    text-align: center;
    font-family: var(--fontTitle);
    font-size: var(--paragraph);
    color: var(--color-target);
    margin: 50px 0px;
}

.dataQuestion a{
    font-family: var(--fontTitle);
    font-size: var(--paragraph);
    color: var(--color-target);
    text-decoration: none;
    font-weight: bold;
}


/* Footer customization */
footer{
    width: 100%;
    height: 70px;
    background-color: var(--color-background2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.contentFooter{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentFooter a{
    font-family: var(--fontTitle);
    font-size: var(--text-button);
    color: var(--color-primary2);
    text-decoration: none;
    font-weight: bold;
}

